@import './sass/mixins';
@import './sass/variables';

body {
  @include reset;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $mainFont;
}

html {
  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 65%;
  }
}
